.group-form-dynamic {
  margin: 0.5rem 0;
  position: relative;
}
.group-form-dynamic .tag-sofa {
  top: 2vh;
  right: 2vw;
  position: absolute;
  z-index: 2;
}
.group-form-dynamic .group-form-dynamic {
  background-color: #f1f1f1;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 0.5rem;
}
.group-form-dynamic .group-form-dynamic .ant-divider-inner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.group-form-dynamic .group-form-dynamic .ant-divider-inner-text .divider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.group-form-dynamic .group-form-dynamic .ant-divider-inner-text .divider h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.group-form-dynamic
  .group-form-dynamic
  .ant-divider-inner-text
  .divider
  .ant-divider
  * {
  margin: 0;
  padding: 0;
}
.group-form-dynamic
  .group-form-dynamic
  .ant-divider-inner-text
  .divider
  .ant-row {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-form-dynamic
  .group-form-dynamic
  .ant-divider-inner-text
  .divider
  .ant-row
  .ant-col {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-size {
  width: 100%;
}
.time-picker::-webkit-calendar-picker-indicator {
  width: 100px;
  filter: invert(47%) sepia(6%) saturate(152%) hue-rotate(316deg)
    brightness(94%) contrast(84%);
}
